{% extends "base.html" %}

{% block app_content %}
  <header>
    <h1>{{ project.jobnum }}</h1>
  </header>
        <table class="table table-striped">
                {% for machine in machines %}
                    {% include '_data_machine.html' %}
                {% endfor %}
        </table>

        <table class="table table-striped">
            <tr>
                <th>Size</th>
                <th>Speed</th>
                <th></th>
                <th></th>
            </tr>
                {% for kit in kits %}
                    {% include '_data_kit.html' %}
                {% endfor %}
        </table>

        <table class="table table-striped">
            <tr>
                <th>Task</th>
                <th>Assigned Engineer</th>
                <th></th>
                <th></th>
            </tr>
                {% for task in tasks %}
                    {% include '_data_task.html' %}
                {% endfor %}
        </table>
{% endblock %}